<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.retrofitrxjava">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDFWa-0NcyAk0VaZCRc2v4IcctBcr8g5R4" />


        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DetailActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".activity.PaymentSuccessActivity" />
        <activity android:name=".DialogRegister" />
        <activity android:name=".activity.CategoriesActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.CartActivity"/>
        <activity android:name=".activity.ActivityAdd"/>
        <activity android:name=".activity.MainActivityAdmin"/>
        <activity android:name=".activity.ProfitRevenueReportActivity"/>
        <activity android:name=".activity.BusinessReportActivity" />
        <activity android:name=".activity.MyProductActivity" />

    </application>

</manifest>